footer.grid-general.darkbg
    section#main-footer.grid-general
        // Address has to be detailed later.
        h3#add We are located
        p#add-p In Gulu city opposite the Main market.
        h3#con Contact Us On
        h3#con-mob Mobile
        ul#con-num
            li#number1 0784847265
            li#number2 0755166405
        h3#email-a email
        ul#email-a-s
            li#email1 info@stayclean.com
            li#email2 gwochan24@gmail.com
    p#copyright This is the property of pawan &copy2021