header#header.grid-general.darkbg.shadow
            // logo
            p#logo
                span#comp-name Stay Clean
                span#truck
            // Navbar General
            nav.grid-general
                ul#menu-ul
                    
                    li#subscriptions.navItem
                        a( href='#') Subscriptions
                        ul.sub-menu
                            li
                                a#newSub( href='../newSubscription') Add New Subscription
                            li
                                a#subList( href='../subscriptions') List of Subscribers 
                        
                    li#request.navItem
                        a( href='#') Call Requests
                        ul.sub-menu
                            li
                                a#newReqItem( href='../newRequest') Add New Request
                            li
                                a#callReqItem( href='../callRequests') List of Requests 
                          


                            

                    li#inventory.navItem
                        a( href='#') Inventory
                        ul.sub-menu
                            li
                                a#truckReg( href='../newTruck') Register Truck 
                            li
                                a#trucks( href='../allTrucks') List of Trucks
                    li#staff.navItem
                        a( href='#') Staff
                        ul.sub-menu
                            li
                                a#staffReg( href='../newStaff') Register Employee 
                            li
                                a#staffInfo( href='../allStaff') List of Staff
                            li
                                a#staffUser( href='../signUp') Add New User

                form#sign-out(action='/signOut' method='POST')
                    button(type='submit') Sign Out

