//- Shows a list of call orders recieved for sewage drainage.
extend generalLayout.pug
block head
    link(rel='stylesheet' href='/css/callRequests.css')
block body
    body.requestBody.grid-general.lightbg
        include includes/navBar
        block main
            main
                form#custReg(action='/callRequests' method="POST")
                    
                    a#goBack.button.shadow(href='#') Back
            

            block js
            script(src='javascript/general.js')
        include includes/footer
        