extend generalLayout.pug
block head
    link(rel='stylesheet' href='/css/newRequest.css')
block body
    body.requestBody.grid-general.lightbg
        include includes/navBar
        block main
            main.flex-column-general.shadow
                h3#newReqTitle.shadow Request Information

                form#newReq(action='/newRequest' method="POST")
                    fieldset#name.transform
                        legend.transform Full Name
                        input#custName(type='text' name='custName' placeholder='Full Name')
                    
                    fieldset#location.transform
                        legend.transform Location
                        textarea#address(name='address' placeholder='Location')
                    
                    fieldset#phoneNum.transform
                        legend.transform Phone Number
                        input#phoneNumber(type='tel' name='phoneNumber' placeholder='Phone Number')
                    
                    label.numTrucks(for='numTrucks') Number of Trucks:
                    select#numTrucks(type='text' name='numTrucks')
                        option(value='1' default) 1 truck
                        option(value='2') 2 trucks
                        option(value='3') 3 trucks
                        option(value='4') 4 trucks
                        option(value='5') 5 trucks

                    label.dateOfService(for='dateOfService') TIme of Service:
                    input#dateOfService(type='date' name='dateOfService')

                    label.timeOfService(for='timeOfService') TIme of Service:
                    input#timeOfService(type='time' name='timeOfService')

                    input#date(type='text' name='dateOfRequest' value='myDate')
                    input#time(type='text' name='timeOfRequest' value='myTime')

                    button#register(type='submit') Register Request
                    a#goBack.button.shadow(href='#') Back
            

            block js
                script(src='javascript/general.js')
                script(src='javascript/newRequest.js')
        include includes/footer