extend generalLayOut.pug
block head
    link(rel='stylesheet' href='/css/staff.css')
block body
    body.salesBody.grid-general
        include includes/navBar
        block main
            main
                
                a#goBack.button.shadow(href='#') Back
        block js
            script(src='javascript/general.js')
        include includes/footer
