//- Shows a list of subscribers for Garbage collection.
extend generalLayout.pug
block head
    link(rel='stylesheet' href='/css/subscribed.css')
block body
    body.requestBody.grid-general.lightbg
        include includes/navBar
        block main
            main
                form#custReg(action='/subscribed' method="POST")
                    
                    a#goBack.button.shadow(href='#') Back
            

            block js
            script(src='javascript/general.js')
        include includes/footer
        