extends general.pug
block head
    link(
        rel="stylesheet"
        href="http://localhost:3000/css/welcome.css"
    )
block main
    section#welcome.grid-general
        p#welcome-p.centre-text Welcome firstName.
        p#blessing.centre-text.lobster-text May your day be filled with happiness!
        fieldset#requests-status.grid-general 
            legend Requests
            p#pending.centre-text Pending
        
            p#completed Completed
               
        P#welcome-a.centre-text You can as well choose what you want to do on the left-hand-side activities.
        
