main {
  margin: 0;
  height: auto;
  display: grid;
  grid-template-rows: auto auto;
  margin: 0 auto;
}

main > a.button {
  grid-row: 1/2;
  justify-self: center;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  padding: 5px 20px;
}

#staffNavBar {
  grid-row: 2/3;
  padding: 0 5% 5% 5%;
  margin-top: 0;
}

#staffNavBar a {
  padding: 5px 10px;
  color: white;
  background-color: #2bae66;
}

#staffNavBar a:hover,
#staffNavBar a:focus {
  color: #2bae66;
  background-color: white;
}
