/* This class adds Lobster font to an element. */
.lobster-text {
  font-family: 'Lobster', cursive;
}

/* This class adds Roboto font to an element. */
.roboto-text {
  font-family: 'Roboto', sans-serif;
}
/* This calss centres text elements */
.centre-text {
  text-align: center;
}
/* This class sets a 12 track grid to an element. */
.grid-general {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(12, auto);
  justify-content: space-between;
  align-content: space-between;
}

/* Use this for simple on dimentional positionings with flex-direction column */
.flex-general-column {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
}

/* Use this for simple on dimentional positionings with flex-direction row. */
.flex-general-row {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

/* The general setting for buttons. */
button,
#cancel-reg {
  background-color: rgba(0, 128, 0, 0.884);
  width: 100px;
  height: 33px;
  color: #fcf6f5;
  font-size: 1em;
}

button:hover,
button:focus,
#cancel-reg:hover,
#cancel-reg:focus {
  background-color: purple;
}

a {
  text-decoration: none;
}

/* SHADOWS START */
/* Grey box-shadow */
.shadow-grey {
  box-shadow: 1px 1px 5px black, -1px 0 5px grey;
}

/* All around white box-shadow */
.shadow-white-round {
  box-shadow: 1px 1px 5px #fcf6f5, -1px -1px 5px #fcf6f5;
}
/* SHADOWS END */

/* INPUT Fieldset START */
/* COLOR for input placeholder text. */
::placeholder {
  color: #294435;
  opacity: 1;
}

/* Shows legend on focus.  */

input:focus::placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}

/* Formats all fieldsets */
fieldset {
  background-color: #2bae6615;
  position: relative;
  border: 2px solid #2bae66;
}

/* Over-rides some of the above properties. */
fieldset .transform {
  padding: 0;
  margin-bottom: 20px;
}

/* Removes bottom margin on last children of a fieldset */
fieldset:last-child {
  margin-bottom: 0;
}

fieldset.transform:focus-within {
  border: 2px solid blue;
}
legend.transform {
  margin: 0 10px;
  position: absolute;
  top: 2px;
  visibility: hidden;
}

fieldset.transform:focus-within legend {
  transform: translateY(-13px);
  visibility: visible;
  background-image: linear-gradient(#fcf6f5 60%, #2bae6615);
  color: blue;
}

input,
textarea,
select {
  width: 100%;

  padding: 0 20px;
  background-color: transparent;
}
input {
  height: 35px;
}

textarea {
  height: 100px;
}
label {
  color: #102018;
}
legend {
  color: #102018;
}

fieldset.transform input,
fieldset.transform textarea {
  border: transparent;
  outline: none;
}

/* INPUT Fieldset END */

/* GENEARL PAGE FORMATING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2bae66;
  background-color: rgb(252, 246, 245);
}

/* All formating involving HEADER START here*/
header {
  grid-area: 1/1/2/-1;
  position: relative;
  padding: 0 5%;
  background-color: #2bae66;
  color: #fcf6f5;
  height: auto;
  padding-top: 5px;
}

/* Logo styling START */

#logo {
  grid-area: 1/1/2/3;
  align-self: flex-start;
  position: relative;
  border: 3px solid #fcf6f5;
  border-top: 3px solid transparent;
  border-radius: 5px 20px 2px 2px;
  z-index: 5;
  width: 100px;
  height: 30px;
  color: black;
}

/* Truck Tires. */
#logo::before,
#logo::after {
  content: '';
  position: absolute;
  background-color: #fcf6f5;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 15px;
  text-align: center;
  padding: 1%;
  margin-top: 5px;
  border: 4px solid black;
}
#logo::before {
  left: 5px;
}
#logo::after {
  right: 5px;
}

/* Truck top Frame. */
#truck {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 25px;
  height: 20px;
  border: 1px solid #fcf6f5;
  border-top: 3px solid #fcf6f5;
  border-right: 3px solid transparent;
  border-radius: 2px 21px 2px 2px;
  z-index: -1;
}

/* Truck Tank */
#truck::before {
  content: '';
  position: absolute;
  background-color: #fcf6f5;
  width: 73px;
  height: 20px;
  left: -76px;
  top: -9px;
  text-align: center;
  padding: 1%;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  color: black;
}

/* Divider line */
#truck::after {
  content: '';
  position: absolute;
  border: 1px solid #fcf6f5;
  width: 97px;
  left: -75px;
  top: 16px;
}
/* Logo styling END */

/* Mobile menu Styling START */

nav {
  grid-area: 1/3/2/-1;
  width: auto;
  font-size: 0.9em;
  margin-left: 10%;
}

#menu-ul {
  grid-area: 1/1/-1/12;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}

nav ul li {
  align-items: center;
  list-style: none;
  padding: 0;
  position: relative;
}

nav ul li a {
  display: block;
  height: 40px;
  width: auto;
  color: rgb(252, 246, 245);
  padding: 10px;
  text-align: center;
  font-size: 1em;
  border-top: 3px solid transparent;
}

header ul li a:focus,
header ul li a:hover,
#sign-out:hover,
#sign-out:focus {
  background-color: rgb(252, 246, 245);
  color: #2bae66;
  border-top: 3px solid rgb(250, 98, 250);
}

#staff ul,
#inventory ul {
  display: none;
  position: absolute;
  background-color: #2bae66;
  width: 150px;
  height: auto;
  top: 40px;
  color: rgb(252, 246, 245);
  box-shadow: 2px 2px 5px black, -2px 2px 5px black;
}
.sub-menu a {
  border-bottom: 2px solid rgb(252, 246, 245);
}
.sub-menu li > a:hover,
.sub-menu li > a:focus {
  border-top: transparent;
}
#staff:hover .sub-menu,
#inventory:hover .sub-menu {
  display: block;
}
/* Mobile menu Styling END */

/* All formating involving HEADER END here*/

/* Login Status START HERE*/
#sign-out {
  grid-area: 1/12/-1/-1;
  text-align: right;
  font-size: 1em;
  height: 40px;
  padding: 12px 10px 5px 10px;
  color: rgba(252, 246, 245, 0.8);
  display: block;
  width: 100%;
  text-align: center;
  justify-self: end;
}

/* Login Status END HERE*/

/* All formating involving MAIN START here*/
main {
  grid-area: 2/1/10/-1;
  height: 80.5vh;
  width: 100%;
}

/* All formating involving MAIN END here*/

/* All formating involving FOOTER START here*/
footer {
  grid-area: 10/1/-1/-1;
  background-color: #2bae66;
  color: rgb(252, 246, 245);
  width: auto;
  font-size: 0.8em;
  height: auto;
}

#main-footer {
  grid-area: 1/1/12/12;
  padding: 10px 5% 10px 10%;
}

/* h3 for address. */
#add {
  grid-area: 1/3/2/6;
}

/* Real address paragraph. */
#add-p {
  grid-area: 2/3/-1/4;
}

/* h3 Contact us  */
#con {
  grid-area: 1/6/2/-1;
  text-align: start;
}

/* h3 mobile */
#con-mob {
  grid-area: 2/6/3/9;
}

/* phone numbers */
#con-num {
  grid-area: 3/6/-1/9;
}

/* Email label */
#email-a {
  grid-area: 2/9/3/-1;
}

/* Email addresses */
#email-a-s {
  grid-area: 3/9/-1/-1;
}

#main-footer li {
  list-style: none;
}

#copyright {
  grid-area: 12/1/-1/-1;
  background-color: #304b30;
  width: 100%;
  text-align: center;
  bottom: 0;
}

/* All formating involving FOOTER END here*/
