@import url(./constants.css);

/* White on Green */
.darkbg {
  background-color: var(--clr-primary-500);
  color: var(--clr-primary-100);
}
.lightbg {
  color: var(--clr-primary-500);
  background-color: var(--clr-primary-100);
}
.whitebg {
  background-color: var(--clr-white);
  color: var(--clr-primary-500);
}
.darkbga {
  background-color: var(--clr-primary-500a);
  color: var(--clr-primary-100);
}
.lightbga {
  color: var(--clr-primary-500);
  background-color: var(--clr-primary-100a);
}

.shadow {
  box-shadow: 0 1px 3px var(--clr-primary-500a);
}

/* This calss centres text elements */
.centre-text {
  text-align: center;
}
/* This class sets a 12 track grid to an element. */
.grid-general {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(12, auto);
  justify-content: space-between;
  align-content: space-between;
}

/* Use this for simple on dimentional positionings with flex-direction column */
.flex-general-column {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
}

/* Use this for simple on dimentional positionings with flex-direction row. */
.flex-general-row {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

/* The general setting for buttons. */
button,
#cancel-reg,
#generate,
.button {
  background-color: var(--clr-primary-500);
  width: 100px;
  height: 33px;
  color: #fcf6f5;
  font-size: 1em;
  border: 2px solid var(--clr-primary-500);
  box-shadow: 0 2px 3px var(--clr-primary-500);
}

button:hover,
button:focus,
#cancel-reg:hover,
#cancel-reg:focus,
#generate:hover,
#generate:focus,
.button:hover,
.button:focus {
  background-color: var(--clr-hover-800);
}

a {
  text-decoration: none;
}

/* INPUT Fieldset START */
/* COLOR for input placeholder text. */
::placeholder {
  color: var(--clr-dark-text);
  opacity: 1;
}

/* Shows legend on focus.  */

input:focus::placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}

/* Formats all fieldsets */
fieldset {
  background-color: #2bae6615;
  position: relative;
  border: 2px solid var(--clr-light-green);
}

/* Over-rides some of the above properties. */
fieldset .transform {
  padding: 0;
  margin-bottom: 20px;
}

/* Removes bottom margin on last children of a fieldset */
fieldset:last-child {
  margin-bottom: 0;
}

fieldset.transform:focus-within {
  border: 2px solid var(--clr-secondary-700);
}
legend.transform {
  margin: 0 10px;
  position: absolute;
  top: 2px;
  visibility: hidden;
}

fieldset.transform:focus-within legend {
  transform: translateY(-13px);
  visibility: visible;
  background-image: linear-gradient(#fcf6f5 60%, #2bae6615);
  color: var(--clr-secondary-700);
}

input,
textarea,
select {
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  font-family: var(--ff-roboto);
}

input {
  height: 35px;
}

textarea {
  height: 100px;
}
label {
  color: var(--clr-dark-text);
}
legend {
  color: var(--clr-dark-text);
}

fieldset.transform input,
fieldset.transform textarea {
  border: transparent;
  outline: none;
}

/* INPUT Fieldset END */

/* GENEARL PAGE FORMATING */
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
}

body {
  font-family: var(--ff-roboto);
  font-size: 1rem;
}

/* All formating involving HEADER START here*/
header {
  grid-area: 1/1/2/-1;
  position: relative;
  padding: 0 5%;
  padding-top: 0.2rem;
  z-index: 5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

/* Logo styling START */

#logo {
  grid-area: 1/1/2/3;
  align-self: flex-start;
  position: relative;
  border: 3px solid var(--clr-primary-100);
  border-top: 3px solid transparent;
  border-radius: 5px 20px 2px 2px;
  z-index: 5;
  width: 6.25rem;
  height: 1.875rem;
  color: var(--clr-dark-text);
  font-family: var(--ff-lobster);
}

/* Truck Tires. */
#logo::before,
#logo::after {
  content: '';
  position: absolute;
  background-color: var(--clr-primary-100);
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  top: 1rem;
  text-align: center;
  padding: 0.1rem;
  margin-top: 0.28rem;
  border: 4px solid var(--clr-dark-text);
}
#logo::before {
  left: 0.32rem;
}
#logo::after {
  right: 0.32rem;
}

/* Truck top Frame. */
#truck {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 1.5rem;
  height: 1.25rem;
  border: 1px solid var(--clr-primary-100);
  border-top: 3px solid var(--clr-primary-100);
  border-right: 3px solid transparent;
  border-radius: 2px 21px 2px 2px;
  z-index: -1;
}

/* Truck Tank */
#truck::before {
  content: '';
  position: absolute;
  background-color: var(--clr-primary-100);
  width: 4.5625rem;
  height: 1.25rem;
  left: -4.75rem;
  top: -0.5625rem;
  text-align: center;
  padding: 1%;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  color: var(--clr-dark-text);
}

/* Divider line */
#truck::after {
  content: '';
  position: absolute;
  border: 1px solid var(--clr-primary-100);
  width: 6.0625rem;
  left: -4.75rem;
  top: 1rem;
}
/* Logo styling END */

/* Mobile menu Styling START */

nav {
  grid-area: 1/3/2/-1;
  width: auto;
  font-size: 1.1rem;
  margin-left: 10%;
}

#menu-ul {
  grid-area: 1/1/-1/12;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}

nav ul li {
  align-items: center;
  list-style: none;
  padding: 0;
  position: relative;
}

nav ul li a {
  display: block;
  height: 2.5rem;
  width: auto;
  color: var(--clr-primary-100);
  padding: 0.625rem;
  text-align: center;
  border-top: 3px solid transparent;
}

header ul li a:focus-within,
header ul li a:hover,
.sign-out:hover,
.sign-out:focus-within {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-500);
  border-top: 3px solid var(--clr-secondary-700);
}

/* Highlights active Nav items */
.truckBody #inventory > a,
.staffBody #staff > a,
.requestBody #request > a,
.salesBody #subscription > a {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-500);
  border-top: 3px solid var(--clr-secondary-700);
}

#staff ul,
#inventory ul,
#subscriptions ul,
#request ul {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 15rem;
  height: auto;
  top: 2.5rem;
  color: rgb(252, 246, 245);
}

.sub-menu a {
  color: var(--clr-primary-100);
  background-color: var(--clr-primary-500);
  border-bottom: 2px solid var(--clr-primary-100);
  padding: 5px 10px;
  box-shadow: 2px 2px 5px var(--clr-dark-text),
    -2px 2px 5px var(--clr-dark-text);
  border-radius: 0 0 3px 3px;
}
.sub-menu li > a:hover,
.sub-menu li > a:focus {
  border-bottom: 2px solid var(--clr-secondary-700);
}
#staff:hover .sub-menu,
#inventory:hover .sub-menu,
#subscriptions:hover .sub-menu,
#request:hover .sub-menu {
  display: block;
  border-top: 1rem solid transparent;
}
/* Mobile menu Styling END */

/* All formating involving HEADER END here*/

/* Login Status START HERE*/
#sign-out {
  grid-area: 1/12/-1/-1;
  justify-self: end;
}
#sign-out button {
  font-size: 1.1rem;
  height: 2.5rem;
  padding: 5px 10px;
  color: var(--clr-primary-100);
  border: none;
  outline: none;
  box-shadow: none;
}

/* Login Status END HERE*/

/* All formating involving MAIN START here*/
main {
  grid-area: 2/1/10/-1;
  width: 100%;
}

/* All formating involving MAIN END here*/

/* All formating involving FOOTER START here*/
footer {
  grid-area: 10/1/-1/-1;
  width: auto;
  font-size: 0.8em;
  height: auto;
}

#main-footer {
  grid-area: 1/1/12/12;
  padding: 10px 5% 10px 10%;
}

/* h3 for address. */
#add {
  grid-area: 1/3/2/6;
}

/* Real address paragraph. */
#add-p {
  grid-area: 2/3/-1/4;
}

/* h3 Contact us  */
#con {
  grid-area: 1/6/2/-1;
  text-align: start;
}

/* h3 mobile */
#con-mob {
  grid-area: 2/6/3/9;
}

/* phone numbers */
#con-num {
  grid-area: 3/6/-1/9;
}

/* Email label */
#email-a {
  grid-area: 2/9/3/-1;
}

/* Email addresses */
#email-a-s {
  grid-area: 3/9/-1/-1;
}

#main-footer li {
  list-style: none;
}

#copyright {
  grid-area: 12/1/-1/-1;
  background-color: var(--clr-dark-text);
  width: 100%;
  text-align: center;
  bottom: 0;
}

/* All formating involving FOOTER END here*/

/* Formatting for the update and delete Icons */
#update,
#delete {
  width: 70%;
}

.action {
  width: 45px;
  padding: 5px 0;
}

.action a {
  margin: auto;
}
