main {
  margin: 0;
  height: auto;
}
#staffNavBar {
  padding: 5px 5%;
  margin-top: 20px;
}
#staffNavBar ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  border: 1px solid #2bae66;
}

#staffNavBar a {
  display: block;
  width: 50px;
  background-color: transparent;
  text-align: center;
}

#staffNavBar a:hover,
#staffNavBar a:focus {
  color: #2bae66;
  background-color: var(--clr-primary-500);
  box-shadow: 0 2px 5px var(--clr-primary-500);
}

table {
  border: 3px solid #2bae66;
  border-collapse: collapse;
  margin-top: 1.8%;
  width: 100%;
  text-align: center;
}
th {
  border: 2px solid #65e29d7e;
  padding: 5px;
}

td {
  border: 2px solid #2bae66;
  padding: 5px;
}
th {
  background-color: #2bae66;
  color: rgb(252, 246, 245);
}

#delete,
#update {
  width: 60%;
}
