main {
  width: auto;
  margin: 2.5rem 5%;
  height: auto;
}
#subReg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 2.5%;
}

#custInfoH {
  grid-area: 1/1/2/2;
  text-align: center;
  height: 50px;
  padding: 10px;
  z-index: 1;
}
#custInfo {
  grid-area: 2/1/3/2;
  padding: 5%;
  margin: 5%;
}

#reqInfoH {
  grid-area: 1/2/2/-1;
  text-align: center;
  height: 50px;
  padding: 10px;
  z-index: 1;
}
#reqInfo {
  grid-area: 2/2/3/-1;
  padding: 5%;
  margin: 5%;
}

/* Grid positioning for items within request information */
.service {
  grid-area: 1/1/3/4;
  padding-top: 13px;
}
#service {
  grid-area: 1/4/3/-1;
}
.subPeriod {
  grid-area: 3/1/5/4;
  padding-top: 13px;
}
#subPeriod {
  grid-area: 3/4/5/-1;
}

.serviceTime {
  grid-area: 5/1/7/4;
  padding-top: 13px;
}
#serviceTime {
  grid-area: 5/4/7/-1;
}

.dateOfService {
  grid-area: 7/1/9/4;
  padding-top: 13px;
}

#dateOfService {
  grid-area: 7/4/9/-1;
}

/* Number of trucks requested. */

.numTrucks {
  grid-area: 9/1/12/4;
  padding-top: 13px;
}
#numTrucks {
  grid-area: 9/4/12/-1;
}

.assignTruck {
  grid-area: 12/1/-1/4;
  padding-top: 13px;
}
#assignTruck {
  grid-area: 12/4/-1/-1;
}

#goBack {
  grid-area: 3/1/-1/2;
  margin: 10px auto;
  text-align: center;
  padding: 5px 10px;
}

#register {
  grid-area: 3/2/-1/-1;
  margin: 10px auto;
}

/* Select inputs */
select {
  height: 2.5rem;
  margin-bottom: 20px;
  outline: none;
}

select:hover,
textarea:hover,
select:focus-within,
textarea:focus-within {
  border: 2px solid var(--clr-secondary-700);
  background-color: var(--clr-light-green);
}

#reqInfo input {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 20px;
  padding: 0.65rem 1rem;
  outline: none;
  font-family: var(--ff-roboto);
  border: 2px solid var(--clr-light-green);
}

#reqInfo input:hover,
#reqInfo input:focus-within {
  border: 2px solid var(--clr-secondary-700);
  background-color: var(--clr-light-green);
}
textarea::placeholder {
  font-family: var(--ff-roboto);
}

#date,
#time {
  display: none;
}
