main {
  width: auto;
  margin: 2.5rem 5%;
  height: auto;
}
#subReg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 2.5%;
}

#custInfoH {
  grid-area: 1/1/2/2;
  text-align: center;
  height: 50px;
  padding: 10px;
  z-index: 1;
}
#custInfo {
  grid-area: 2/1/3/2;
  padding: 5%;
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  row-gap: 20px;
}
.fName {
  grid-area: 1/1/2/2;
}
#fName {
  grid-area: 1/2/2/-1;
}
.email {
  grid-area: 2/1/3/2;
}
#email {
  grid-area: 2/2/3/-1;
}
.phone {
  grid-area: 3/1/4/2;
}
#phone {
  grid-area: 3/2/4/-1;
}
.nationalIdNumber {
  grid-area: 4/1/5/2;
}
#nationalIdNumber {
  grid-area: 4/2/5/-1;
}
.residence {
  grid-area: 5/1/6/2;
}
#residence {
  grid-area: 5/2/6/-1;
}

#reqInfoH {
  grid-area: 1/2/2/-1;
  text-align: center;
  height: 50px;
  padding: 10px;
  z-index: 1;
}
#reqInfo {
  grid-area: 2/2/3/-1;
  padding: 5%;
  margin: 5%;
  row-gap: 10px;
}

/* Grid positioning for items within request information */
.service {
  grid-area: 1/1/3/4;
}
#service {
  grid-area: 1/4/3/-1;
}
.subPeriod {
  grid-area: 3/1/5/4;
}
#subPeriod {
  grid-area: 3/4/5/-1;
}

.serviceTime {
  grid-area: 5/1/7/4;
}
#serviceTime {
  grid-area: 5/4/7/-1;
}

.dateOfService {
  grid-area: 7/1/9/4;
}

#dateOfService {
  grid-area: 7/4/9/-1;
}

/* Number of trucks requested. */

.numTrucks {
  grid-area: 9/1/12/4;
}
#numTrucks {
  grid-area: 9/4/12/-1;
}

.assignTruck {
  grid-area: 12/1/-1/4;
}
#assignTruck {
  grid-area: 12/4/-1/-1;
}

#goBack {
  grid-area: 3/1/-1/2;
  margin: 10px auto;
  text-align: center;
  padding: 5px 10px;
}

#register {
  grid-area: 3/2/-1/-1;
  margin: 10px auto;
}

#date,
#time {
  display: none;
}
