body {
  row-gap: 1.25rem;
}

main {
  width: 40%;
  margin: 20px auto;
}
#signUpH {
  height: 50px;
  padding: 12px;
  text-align: center;
}

form#signUp {
  padding: 7%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  row-gap: 20px;
}

.role {
  grid-area: 1/1/2/2;
}

#role {
  grid-area: 1/2/2/-1;
}

.userName {
  grid-area: 2/1/3/2;
}

#userName {
  grid-area: 2/2/3/-1;
}

.password {
  grid-area: 3/1/4/2;
}

#password {
  grid-area: 3/2/4/-1;
}

.confirmPassword {
  grid-area: 4/1/5/2;
}
#confirmPassword {
  grid-area: 4/2/5/-1;
}

#login-btn {
  grid-area: 5/3/-1/-1;

  margin: auto;
  justify-self: center;
}

#goBack {
  grid-area: 5/1/-1/3;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 5px 10px;
}

/* Margin spacing between inputs */
.spaceMargin {
  margin-bottom: 20px;
}

/* MAIN FORMATING END */
