main {
  color: darkgreen;
  justify-content: center;
  align-content: center;
  border: 2px solid rgba(255, 255, 255, 0.904);
}
/* Welcome section */
#welcome {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 10%;
}
#welcome-p {
  grid-area: 1/1/2/-1;
  font-weight: 700;
  font-size: 1.2em;
  opacity: 1;
}
#blessing {
  grid-area: 2/1/3/-1;
  font-size: 1.2em;
}
#welcome h2 {
  grid-area: 3/1/4/-1;
}

/* Fieldset for REQUESTS */
#requests-status {
  grid-area: 4/1/12/-1;
  width: 100%;
  height: 80%;
  border-radius: 50%;
  background-color: aqua;
  padding: 1%;
}
/* header for requests. */
#requests-status legend {
  grid-area: 1/1/2/-1;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 700;
}
/* Pending requests. */
#pending {
  grid-area: 2/1/12/7;
}
/* Completed requests. */
#completed {
  grid-area: 2/7/12/-1;
}

/* Directions to choose a task on the side menu. */
#welcome-a {
  grid-area: 12/1/-1/-1;
}
