<!DOCTYPE html>
<html lang="en">
  <head>
    <title>management login page</title>
  </head>
  <body>
    <h3>Waste disposal for all time freshness.</h3>
    <fieldset>
      <legend>Welcome to Stay Clean</legend>
      <input
        id="user-name"
        type="text"
        name="user-name"
        placeholder="User Name"
      /><input
        id="password"
        type="password"
        name="user-password"
        placeholder="Password"
      /><button id="login-btn">Signin</button>
    </fieldset>
  </body>
</html>
